<!--
  templateType: global_partial
  label: Footer 1
-->

{# Color scheme #}
{% if theme.components.footer.scheme == "dark" or theme.components.footer.scheme == "dark-green" %}
  {% set footer_color_scheme = "dark" %}
{% else %}
  {% set footer_color_scheme = "light" %}
{% endif %}

{% dnd_area "above_footer"
  label="Above footer",
  class="above-footer" %}{% end_dnd_area %}

<footer class="footer footer--1 hs-search-hidden">
  <div class="footer__section footer__section--main section">
    <div class="footer__center container">
      <div class="row">
        <div class="col s5">
          <div class="footer__form">
            {% module "footer_form_intro"
              path="../modules/rich-text",
              label="Form intro",
              text="<h4>Subscribe to news and product updates</h4>",
              settings={
                "color_scheme": footer_color_scheme
              },
              wrapper={
                "max_width": {
                  "lg": "280"
                }
              } %}
            {% module "footer_form"
              path="../modules/form",
              label="Form",
              form_title="",
              one_field_form=false,
              form={
                "form_id": ""
              },
              settings={
                "form_title_tag": "h4"
              },
              wrapper={
                "margin": {
                  "bottom": {
                    "lg": "60"
                  }
                }
              } %}
          </div>
          <div class="footer__icons">
            {% module "footer_icons"
              path="../modules/icon",
              label="Icons",
              icon=[
                {
                  "internal_name": "X (Twitter)",
                  "type": "code",
                  "code": "<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path d='M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8l164.9-188.5L26.8 48h145.6l100.5 132.9L389.2 48zm-24.8 373.8h39.1L151.1 88h-42l255.3 333.8z'/></svg>",
                  "color": "accent",
                  "link": {
                    "url": {
                      "href": "https://x.com/"
                    },
                    "open_in_new_tab": true
                  }
                },
                {
                  "internal_name": "Slack",
                  "type": "icon",
                  "icon": {
                    "name": "Slack Logo",
                    "unicode": "f198",
                    "type": "REGULAR",
                    "icon_set": "fontawesome-5.14.0"
                  },
                  "color": "accent",
                  "link": {
                    "url": {
                      "href": "https://youtube.com/"
                    },
                    "open_in_new_tab": true
                  }
                },
                {
                  "internal_name": "GitHub",
                  "type": "icon",
                  "icon": {
                    "name": "github",
                    "unicode": "f09b",
                    "type": "REGULAR",
                    "icon_set": "fontawesome-5.14.0"
                  },
                  "color": "accent",
                  "link": {
                    "url": {
                      "href": "https://github.com/"
                    },
                    "open_in_new_tab": true
                  }
                }
              ],
              settings={
                "shape": "none",
                "fill": "fill",
                "size": "large",
                "space": 30
              },
              wrapper={
                "margin": {
                  "bottom": {
                    "lg": "60",
                    "sm": "80"
                  }
                }
              } %}
          </div>
        </div>
        <div class="col s1"></div>
        <div class="col s6">
          <div class="footer__nav">
            {% module "footer_nav"
              path="../modules/column-navigation",
              label="Navigation",
              column=[
                {
                  "title": "Company",
                  "title_link": {
                    "url": {
                      "href": "#"
                    }
                  },
                  "link": [
                    {
                      "text": "Our story",
                      "address": {
                        "url": {
                          "href": "#"
                        }
                      }
                    },
                    {
                      "text": "Meet the team",
                      "address": {
                        "url": {
                          "href": "#"
                        }
                      }
                    },
                    {
                      "text": "Join us",
                      "address": {
                        "url": {
                          "href": "#"
                        }
                      }
                    },
                    {
                      "text": "Contact us",
                      "address": {
                        "url": {
                          "href": "#"
                        }
                      }
                    }
                  ]
                },
                {
                  "title": "Product",
                  "title_link": {
                    "url": {
                      "href": "#"
                    }
                  },
                  "link": [
                    {
                      "text": "Product tour",
                      "address": {
                        "url": {
                          "href": "#"
                        }
                      }
                    },
                    {
                      "text": "Pricing",
                      "address": {
                        "url": {
                          "href": "#"
                        }
                      }
                    },
                    {
                      "text": "Features",
                      "address": {
                        "url": {
                          "href": "#"
                        }
                      }
                    }
                  ]
                },
                {
                  "title": "Resources",
                  "title_link": {
                    "url": {
                      "href": "#"
                    }
                  },
                  "link": [
                    {
                      "text": "Read out blog",
                      "address": {
                        "url": {
                          "href": "#"
                        }
                      }
                    },
                    {
                      "text": "Documentation",
                      "address": {
                        "url": {
                          "href": "#"
                        }
                      }
                    },
                    {
                      "text": "Developers",
                      "address": {
                        "url": {
                          "href": "#"
                        }
                      }
                    }
                  ]
                }
              ],
              settings={
                "color_scheme": footer_color_scheme,
                "col_lg": "s4",
                "col_md": "md-s6",
                "col_sm": "sm-s12"
              } %}
          </div>
        </div>
        <div class="col s12">
          <div class="footer__copyright">
            {% module "footer_copyright"
              path="../modules/rich-text",
              label="Copyright",
              text="Copyright © {{ year }} Company, Inc.",
              settings={
                "text_size": "small",
                "color_scheme": footer_color_scheme
              } %}
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
{{ require_css(get_asset_url("../css/components/footer-01.css")) }}
