{% import "../_variables.css" as var %}

.footer__section--main {
  padding-top: {{ var.vspace_lg }}px;
  padding-bottom: {{ var.vspace_lg }}px;
}

.footer h4 {
  margin-bottom: 1.11rem;
  font-family: {{ var.text_font_family }};
  font-weight: {{ var.text_font_weight }};
  font-style: {{ var.text_font_style }};
  font-size: {{ var.large_text }}rem;
  line-height: {{ var.text_height }};
}

/* Dark scheme */

{% if theme.components.footer.scheme == 'dark' %}

  .footer {
    background: {{ var.dark }};
  }
  
  .footer h4 {
    color: {{ var.white }};
  }
  {% elif theme.components.footer.scheme == 'dark-green' %}
  
  .footer {
    background: #152f1a;
    color: {{ var.white }};
  }
  
  .footer__section--main:after {
    background: {{ var.white_borders }};
  }
/* Light scheme */

{% else %}

  .footer {
    background: {{ var.white }};
  }
  
  .footer h4 {
    color: {{ var.dark }};
  }

{% endif %}