{% import "../_variables.css" as var %}

.footer__section--main {
  padding-bottom: 4.44rem;
}

.footer__section--bottom {
  padding-top: 4.44rem;
}

.footer__section--main:after {
  content: '';
  display: block;
  width: 6.67rem;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.footer__nav,
.footer__lang .lang-select__button {
  line-height: 1.33rem;
}

.footer__nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.footer__nav ul li,
.footer__lang {
  padding: 5px 1.39rem;
}

.footer__nav ul li a {
  color: inherit;
  text-decoration: none;
}

.footer__nav ul li a:hover {
  color: inherit;
  text-decoration: underline;
}

.footer__copyright {
  margin-top: 2.22rem;
}

.footer__copyright .txt--light {
  color: {{ var.dark }};
}

.footer__copyright .txt--dark {
  color: {{ var.white }};
}

/* Responsive */

@media (max-width: {{ var.sm }}px) {
  .footer__section--main {
    padding-bottom: 3rem;
  }
  
  .footer__section--bottom {
    padding-top: 3rem;
  }

  .footer__nav ul {
    flex-direction: column;
  }
  
  .footer__lang {
    margin-top: 1.94rem;
  }
}

/* Dark scheme */

{% if theme.components.footer.scheme == 'dark' %}

  .footer {
    background: {{ var.dark }};
  }
  
  .footer__section--main:after {
    background: {{ var.white_borders }};
  }

{% elif theme.components.footer.scheme == 'dark-green' %}
  
  .footer {
    background: #152f1a;
    color: {{ var.white }};
  }
  
  .footer__section--main:after {
    background: {{ var.white_borders }};
  }
/* Light scheme */

{% else %}

  .footer {
    background: {{ var.white }};
  }
  
  .footer__section--main:after {
    background: {{ var.borders_color }};
  }

{% endif %}